<a href="http://foundation.zurb.com/sites/docs/v/5.5.3/components/topbar.html" target="_blank">foundation.zurb.com/sites/docs/v/5.5.3/components/topbar.html</a>
<!-- ############################# -->
<hr><br><hr>
<!-- ############################# -->
<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area"> 
      <li class="name"><h1><a href="#">My Site</a></h1></li> <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section"> <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Right Button Active</a></li>
      <li class="has-dropdown"><a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul> <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>
    </section>
  </nav>
</div>
<!-- ############################# -->
<hr><br><hr>
<!-- ############################# -->
<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area"> 
      <li class="name"><h1><a href="#">My Site</a></h1></li> <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section"> <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-form">
        <div class="row collapse">
          <div class="large-8 small-9 columns">
            <input type="text" placeholder="Find Stuff">
          </div>
          <div class="large-4 small-3 columns">
            <a href="#" class="alert button expand">Search</a>
          </div>
        </div>
      </li>
      <li class="active"><a href="#">Right Button Active</a></li>
      <li class="has-dropdown"><a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul> <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>
    </section>
  </nav>
</div>
<!-- ############################# -->
<hr><br><hr>
<!-- ############################# -->
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
Integer ullamcorper odio eu viverra placerat. Pellentesque neque metus,
fermentum quis ex quis, porta viverra turpis. Fusce imperdiet vel dui et
viverra. Suspendisse molestie neque id nunc viverra eleifend. Integer a
quam venenatis, iaculis quam accumsan, consectetur massa. Donec eu molestie
ipsum. Cum sociis natoque penatibus et magnis dis parturient montes,
nascetur ridiculus mus. Vestibulum vestibulum, sem hendrerit placerat
laoreet, sapien quam efficitur quam, ac condimentum turpis odio vel est.
Nam accumsan lacinia libero, vel varius lacus aliquam vel. Phasellus
fermentum metus vel dui euismod, in congue lacus aliquam.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
Integer ullamcorper odio eu viverra placerat. Pellentesque neque metus,
fermentum quis ex quis, porta viverra turpis. Fusce imperdiet vel dui et
viverra. Suspendisse molestie neque id nunc viverra eleifend. Integer a
quam venenatis, iaculis quam accumsan, consectetur massa. Donec eu molestie
ipsum. Cum sociis natoque penatibus et magnis dis parturient montes,
nascetur ridiculus mus. Vestibulum vestibulum, sem hendrerit placerat
laoreet, sapien quam efficitur quam, ac condimentum turpis odio vel est.
Nam accumsan lacinia libero, vel varius lacus aliquam vel. Phasellus
fermentum metus vel dui euismod, in congue lacus aliquam.</p>
<!-- ############################# -->
<hr><br><hr>
<!-- ############################# -->
<h1>buggy:</h1>
https://github.com/zurb/foundation-sites/issues/5614<br>
http://foundation.zurb.com/forum/posts/2888-sticky-navigation-bar-flickering-in-chrome<br>
  <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area"> 
        <li class="name"><h1><a href="#">My Site</a></h1></li> <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section"> <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><a href="#">Right Button Active</a></li>
        <li class="has-dropdown"><a href="#">Right Button Dropdown</a>
          <ul class="dropdown">
            <li><a href="#">First link in dropdown</a></li>
            <li class="active"><a href="#">Active link in dropdown</a></li>
          </ul>
        </li>
      </ul> <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="#">Left Nav Button</a></li>
      </ul>
      </section>
    </nav>
  </div>
<!-- ############################# -->
<hr><br><hr>
<!-- ############################# -->


<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
Integer ullamcorper odio eu viverra placerat. Pellentesque neque metus,
fermentum quis ex quis, porta viverra turpis. Fusce imperdiet vel dui et
viverra. Suspendisse molestie neque id nunc viverra eleifend. Integer a
quam venenatis, iaculis quam accumsan, consectetur massa. Donec eu molestie
ipsum. Cum sociis natoque penatibus et magnis dis parturient montes,
nascetur ridiculus mus. Vestibulum vestibulum, sem hendrerit placerat
laoreet, sapien quam efficitur quam, ac condimentum turpis odio vel est.
Nam accumsan lacinia libero, vel varius lacus aliquam vel. Phasellus
fermentum metus vel dui euismod, in congue lacus aliquam.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
Integer ullamcorper odio eu viverra placerat. Pellentesque neque metus,
fermentum quis ex quis, porta viverra turpis. Fusce imperdiet vel dui et
viverra. Suspendisse molestie neque id nunc viverra eleifend. Integer a
quam venenatis, iaculis quam accumsan, consectetur massa. Donec eu molestie
ipsum. Cum sociis natoque penatibus et magnis dis parturient montes,
nascetur ridiculus mus. Vestibulum vestibulum, sem hendrerit placerat
laoreet, sapien quam efficitur quam, ac condimentum turpis odio vel est.
Nam accumsan lacinia libero, vel varius lacus aliquam vel. Phasellus
fermentum metus vel dui euismod, in congue lacus aliquam.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
Integer ullamcorper odio eu viverra placerat. Pellentesque neque metus,
fermentum quis ex quis, porta viverra turpis. Fusce imperdiet vel dui et
viverra. Suspendisse molestie neque id nunc viverra eleifend. Integer a
quam venenatis, iaculis quam accumsan, consectetur massa. Donec eu molestie
ipsum. Cum sociis natoque penatibus et magnis dis parturient montes,
nascetur ridiculus mus. Vestibulum vestibulum, sem hendrerit placerat
laoreet, sapien quam efficitur quam, ac condimentum turpis odio vel est.
Nam accumsan lacinia libero, vel varius lacus aliquam vel. Phasellus
fermentum metus vel dui euismod, in congue lacus aliquam.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
Integer ullamcorper odio eu viverra placerat. Pellentesque neque metus,
fermentum quis ex quis, porta viverra turpis. Fusce imperdiet vel dui et
viverra. Suspendisse molestie neque id nunc viverra eleifend. Integer a
quam venenatis, iaculis quam accumsan, consectetur massa. Donec eu molestie
ipsum. Cum sociis natoque penatibus et magnis dis parturient montes,
nascetur ridiculus mus. Vestibulum vestibulum, sem hendrerit placerat
laoreet, sapien quam efficitur quam, ac condimentum turpis odio vel est.
Nam accumsan lacinia libero, vel varius lacus aliquam vel. Phasellus
fermentum metus vel dui euismod, in congue lacus aliquam.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
Integer ullamcorper odio eu viverra placerat. Pellentesque neque metus,
fermentum quis ex quis, porta viverra turpis. Fusce imperdiet vel dui et
viverra. Suspendisse molestie neque id nunc viverra eleifend. Integer a
quam venenatis, iaculis quam accumsan, consectetur massa. Donec eu molestie
ipsum. Cum sociis natoque penatibus et magnis dis parturient montes,
nascetur ridiculus mus. Vestibulum vestibulum, sem hendrerit placerat
laoreet, sapien quam efficitur quam, ac condimentum turpis odio vel est.
Nam accumsan lacinia libero, vel varius lacus aliquam vel. Phasellus
fermentum metus vel dui euismod, in congue lacus aliquam.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
Integer ullamcorper odio eu viverra placerat. Pellentesque neque metus,
fermentum quis ex quis, porta viverra turpis. Fusce imperdiet vel dui et
viverra. Suspendisse molestie neque id nunc viverra eleifend. Integer a
quam venenatis, iaculis quam accumsan, consectetur massa. Donec eu molestie
ipsum. Cum sociis natoque penatibus et magnis dis parturient montes,
nascetur ridiculus mus. Vestibulum vestibulum, sem hendrerit placerat
laoreet, sapien quam efficitur quam, ac condimentum turpis odio vel est.
Nam accumsan lacinia libero, vel varius lacus aliquam vel. Phasellus
fermentum metus vel dui euismod, in congue lacus aliquam.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
Integer ullamcorper odio eu viverra placerat. Pellentesque neque metus,
fermentum quis ex quis, porta viverra turpis. Fusce imperdiet vel dui et
viverra. Suspendisse molestie neque id nunc viverra eleifend. Integer a
quam venenatis, iaculis quam accumsan, consectetur massa. Donec eu molestie
ipsum. Cum sociis natoque penatibus et magnis dis parturient montes,
nascetur ridiculus mus. Vestibulum vestibulum, sem hendrerit placerat
laoreet, sapien quam efficitur quam, ac condimentum turpis odio vel est.
Nam accumsan lacinia libero, vel varius lacus aliquam vel. Phasellus
fermentum metus vel dui euismod, in congue lacus aliquam.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
Integer ullamcorper odio eu viverra placerat. Pellentesque neque metus,
fermentum quis ex quis, porta viverra turpis. Fusce imperdiet vel dui et
viverra. Suspendisse molestie neque id nunc viverra eleifend. Integer a
quam venenatis, iaculis quam accumsan, consectetur massa. Donec eu molestie
ipsum. Cum sociis natoque penatibus et magnis dis parturient montes,
nascetur ridiculus mus. Vestibulum vestibulum, sem hendrerit placerat
laoreet, sapien quam efficitur quam, ac condimentum turpis odio vel est.
Nam accumsan lacinia libero, vel varius lacus aliquam vel. Phasellus
fermentum metus vel dui euismod, in congue lacus aliquam.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
Integer ullamcorper odio eu viverra placerat. Pellentesque neque metus,
fermentum quis ex quis, porta viverra turpis. Fusce imperdiet vel dui et
viverra. Suspendisse molestie neque id nunc viverra eleifend. Integer a
quam venenatis, iaculis quam accumsan, consectetur massa. Donec eu molestie
ipsum. Cum sociis natoque penatibus et magnis dis parturient montes,
nascetur ridiculus mus. Vestibulum vestibulum, sem hendrerit placerat
laoreet, sapien quam efficitur quam, ac condimentum turpis odio vel est.
Nam accumsan lacinia libero, vel varius lacus aliquam vel. Phasellus
fermentum metus vel dui euismod, in congue lacus aliquam.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
Integer ullamcorper odio eu viverra placerat. Pellentesque neque metus,
fermentum quis ex quis, porta viverra turpis. Fusce imperdiet vel dui et
viverra. Suspendisse molestie neque id nunc viverra eleifend. Integer a
quam venenatis, iaculis quam accumsan, consectetur massa. Donec eu molestie
ipsum. Cum sociis natoque penatibus et magnis dis parturient montes,
nascetur ridiculus mus. Vestibulum vestibulum, sem hendrerit placerat
laoreet, sapien quam efficitur quam, ac condimentum turpis odio vel est.
Nam accumsan lacinia libero, vel varius lacus aliquam vel. Phasellus
fermentum metus vel dui euismod, in congue lacus aliquam.</p>




