            <ul class="inline-list right">
              <li><%= link_to "home", "/" %></li>
              <li><%= link_to "kitchen sink", "/pages/kitchen-sink" %></li>
              <li><%= link_to "topbar", "/pages/topbar" %></li>
            </ul>
          <!-- _nav_1 -->
